body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #eaf3ff;
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 32px;
  color: #002d62;
}

h2 {
  font-size: 24px;
  color: #002d62;
}

p {
  font-size: 20px;
}

.table-header {
  font-size: 26px;
  font-weight: 600;
  color: #003366;
  margin-bottom: 10px;
  text-align: center;
}

.table-container {
  background-color: #eaf4fc;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  flex: 1;
  margin-top: 30px;
}

.table-wrapper {
  max-height: 300px;
  overflow-y: auto;
  border-radius: 10px;
  padding-right: 10px;
  box-sizing: content-box;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

thead {
  background-color:#1e86c3;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Scrollbar Styling */
.table-wrapper::-webkit-scrollbar {
  width: 8px;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #f0f7ff;
  border-radius: 10px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #003366;
  border-radius: 10px;
  border: 2px solid #f0f7ff;
}

.appointment-history-btn-wrapper {
  text-align: right;
  margin-top: 20px;
}

.appointment-history-btn {
  background-color: #003366;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.appointment-history-btn:hover {
  background-color: #0071d3;
}
